.section-title h2 {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  width: 400px;
  margin: 0 auto 10px;
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 100px;
  padding: 15px;

}